* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  background-color: #eee;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", Arial, sans-serif;
}

/****************************SCROLL*********************************/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #343a40;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 2.188rem;
}
h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

input[type=submit], button, .bouton {
  border: 0;
  padding: 10px 15px;
  border-radius: 10px;
  transition: opacity 0.2s ease;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 1.25rem;
}
input[type=submit]:hover, button:hover, .bouton:hover {
  opacity: 0.85;
}

input[type=text] {
  width: 75%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #3e4446;
  padding: 10px;
}

input, textarea {
  font-family: "Montserrat", Arial, sans-serif;
}

.header-container {
  position: fixed;
  width: 100%;
  height: 80px;
  display: block;
  float: left;
  z-index: 1;
  background: #141628;
  margin: 0 auto;
}
.header-container .logo {
  width: 15%;
  height: 100%;
  float: left;
}
.header-container .logo img {
  width: 75px;
  margin: 0 0 20px 15px;
}
.header-container nav {
  width: 85%;
  height: 100%;
  float: left;
}
.header-container nav div {
  float: right;
  padding: 25px 30px 0 0;
}
@media screen and (min-width: 900px) {
  .header-container nav div a:hover, .header-container nav div a:active {
    opacity: 0.7;
    transition: opacity 0.2s ease-in;
  }
}
.header-container nav a {
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 10px;
  background: #1da1f2;
  color: white;
  border-radius: 7px;
}
.header-container nav .menu-burger {
  width: auto;
  height: 100%;
  padding: 10px 0 10px 10px;
  position: relative;
  z-index: 1;
}
.header-container nav .menu-burger .icon, .header-container nav .menu-burger .menu {
  padding: 10px 10px;
  position: relative;
}
.header-container nav .menu-burger .icon {
  display: none;
  height: 100%;
  padding: 6px 1rem 0 0;
}
.header-container nav .menu-burger .icon i {
  display: flex;
  width: 100%;
  float: right;
  font-size: 3rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .header-container nav .menu-burger .icon {
    display: block;
  }
}
.header-container nav .menu-burger .menu {
  display: block;
}
.header-container nav .menu-burger .menu a {
  display: inline-block;
  width: auto;
  text-align: right;
  padding: 10px 15px;
  margin-left: 10px;
  background: gray;
  color: white;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .header-container nav .menu-burger .menu a {
    display: block;
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .header-container nav .menu-burger .menu {
    display: none;
    padding-right: 0;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #1b1e32;
  color: white;
  text-align: center;
  font-size: 15px;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
footer .footer-container .block-par-2 {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  padding-top: 80px;
}
main section {
  width: 100%;
  padding: 2rem 0;
}
main section .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
main section .home-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
main section .home-pic img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: rgba(40, 40, 74, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.03) 0px -6px 16px -6px;
}
@media screen and (max-width: 768px) {
  main section .home-pic img {
    max-width: 80%;
  }
}
main section .home-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}
main section .home-info span {
  font-size: 1.2rem;
}
main section .home-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
main section .home-nav-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
main section .home-nav-container nav .home-nav-option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
  border: 1px solid #141628;
  border-radius: 15px;
  height: 8rem;
  margin: 0 3rem;
}
@media screen and (max-width: 768px) {
  main section .home-nav-container nav .home-nav-option {
    width: 80%;
    margin-bottom: 2rem;
  }
}
main section .home-nav-container nav .home-nav-option a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
main section .home-nav-container nav .home-nav-option a:hover {
  opacity: 0.85;
  transition: opacity 0.2s ease-in;
}
main section .home-nav-container nav .home-nav-option a i {
  font-size: 2rem;
  color: #141628;
}
main section .home-nav-container nav .home-nav-option a span {
  color: #0066cc;
}
main section .home-nav-container nav .home-nav-option a span:visited {
  color: #0066cc;
}
@media screen and (max-width: 768px) {
  main section .home-nav-container nav {
    flex-direction: column;
    width: 100%;
  }
}

main {
  width: 100%;
  padding-top: 80px;
}
main section {
  width: 100%;
  padding: 2rem 0;
}
main section .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
main section .projets-crud {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 2rem 0;
  gap: 1rem;
}
main section .projets-crud--boutons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main section .projets-crud--boutons #btnAddProj {
  background-color: #00a2ff;
}
main section .projets-crud--boutons #btnModProj {
  background-color: #00de94;
}
main section .projets-crud--boutons #btnRmvProj {
  background-color: red;
}
@media screen and (max-width: 768px) {
  main section .projets-crud--boutons {
    flex-direction: column;
  }
}
main section .projets-crud--table_container {
  display: flex;
  flex-direction: column;
}
main section .projets-crud--table_container table {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 50px 0px;
  border: solid 2px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
main section .projets-crud--table_container table th, main section .projets-crud--table_container table td {
  text-align: center;
  border: solid 2px;
  height: 50px;
  vertical-align: middle;
  padding: 0 1rem;
}
main section .projets-crud--table_container table th a, main section .projets-crud--table_container table td a {
  color: #0066cc;
  transition: opacity 0.2s ease-in;
}
main section .projets-crud--table_container table th a:visited, main section .projets-crud--table_container table td a:visited {
  color: #0066cc;
}
main section .projets-crud--table_container table th a:hover, main section .projets-crud--table_container table td a:hover {
  opacity: 0.7;
}
main section .projets-crud--table_container table th img, main section .projets-crud--table_container table td img {
  max-width: 100px;
  max-height: 100px;
}
main section .projets-crud--table_container table th .fas, main section .projets-crud--table_container table td .fas {
  margin: 0 6px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
main section .projets-crud--table_container table th .fas:hover, main section .projets-crud--table_container table td .fas:hover {
  opacity: 0.6;
}
main section .projets-crud--table_container table textarea {
  border: 1px solid #3e4446;
  padding: 10px;
  border-radius: 5px;
  max-width: 20%;
  max-height: 35px;
}
main section .projets-crud--table_container .btnCCcontainer {
  display: none;
  justify-content: center;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
}
main section .projets-crud--table_container .btnCCcontainer #btnConfirmAP {
  background-color: #00de94;
}
main section .projets-crud--table_container .btnCCcontainer #btnCancelAP {
  background-color: red;
}
@media screen and (max-width: 768px) {
  main section .projets-crud--table_container .btnCCcontainer {
    flex-direction: column;
    align-items: center;
  }
}
main section .projets-crud .mon-formulaire {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  gap: 1rem;
  margin-bottom: 2rem;
}
main section .projets-crud .mon-formulaire div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
main section .projets-crud .mon-formulaire textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 10px;
  max-width: 100%;
  max-height: 100px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-color: #3e4446;
  box-shadow: #52585c 1px 1px 1px;
}
main section .projets-crud .mon-formulaire a {
  background-color: #000;
  max-width: 28%;
  font-size: 1rem;
  border: 0;
  padding: 10px 15px;
  border-radius: 10px;
  transition: opacity 0.2s ease;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}
main section .projets-crud .mon-formulaire a:hover {
  opacity: 0.85;
}
main section .projets-crud .mon-formulaire a:visited {
  color: #fff;
}
main section .projets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
main section .projets-container .projet-info {
  display: flex;
  flex-direction: row;
  width: 30%;
  border: 1px solid #000;
  border-radius: 15px;
}
main section .projets-container .projet-info--txt {
  display: flex;
  flex-direction: column;
  width: 50%;
}
main section .projets-container .projet-info--txt__name, main section .projets-container .projet-info--txt__link {
  margin: 1rem auto;
}
main section .projets-container .projet-info--txt__desc {
  margin: 0 auto;
}
main section .projets-container .projet-info--txt a, main section .projets-container .projet-info--txt a:visited {
  color: #0066cc;
}
main section .projets-container .projet-info--txt a:hover, main section .projets-container .projet-info--txt a:visited:hover {
  opacity: 0.85;
  transition: opacity 0.2s ease-in;
}
main section .projets-container .projet-info--img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
main section .projets-container .projet-info--img img {
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  main section {
    padding: 2rem 0 1rem 0;
  }
}

main {
  width: 100%;
  padding-top: 80px;
}
main section {
  width: 100%;
  padding: 2rem 0;
}
main section .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

/*# sourceMappingURL=styles.css.map */
