@use "../abstracts" as abs;

input[type=submit], button, .bouton {
  border: 0;
  padding: 10px 15px;
  border-radius: 10px;
  transition: opacity 0.2s ease;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 1.25rem;
  &:hover {
    opacity: 0.85;
  }
}