@use "../abstracts" as abs;

// _footer.scss

footer {
  @include abs.flex-centre;
  width: 100%;
  height: 60px;
  background-color: abs.$secondary-bg;
  color: white;
  text-align: center;
  font-size: 15px;
  .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .block-par-2 {
      display: flex;
      justify-content: center;
    }
  }
}